<form action="" #test="ngForm">

  <div class="container mt-5">


    <div class="row">
      <!-- <input type="text" name="a" id="a" (input)="placeHolderChange($event)" class="form-control"> -->
      <div *ngFor="let control of x">
          <div class="form-group">
            <label for="">{{control.placeholder}}</label>
          <input [type]=control.type class="form-control mr-5" [placeholder]=control.placeholder
            [required]=control.required (input)="placeHolderChange($event, test)" [name]=control.id [id]=control.id />
  
        </div>
      </div>
      <br><br>
    </div>
    <div class="row mt-5">
      <p [innerHtml]="content">

      </p>
    </div>
  </div>
</form>