<div class="container">
  <div class="row mt-2">
    <div class="col-md-6 card">
      <form>
          <div class="form-group">
              <label for="email">Select Category:</label>
             <select class="form-control">
             
               <option *ngFor="let x of category" value="{{x.id}}">{{x.name}}</option>
             </select>
            </div>
       
            <div class="form-group">
                <label for="pwd">Template Name:</label>
               <input type="text" class="form-control" placeholder="Template Name">
              </div>

        <div class="form-group">
          <label for="pwd">Description:</label>
          <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
        </div>
       
      
       
       
        <button type="button" class="btn btn-primary mt-2 mb-2" (click)="firstStepClicked()">Next</button>
      </form>
    </div>

    <div class="col-md-6 card">
        <h3>Questions</h3>
        <!-- <button type="button" class="btn btn-primary mt-2 mb-2" (click)="backStep()" style="width:100px;">Back</button> -->

        <div class="table">
       <div>
          <table>
              <tr>
                  <td>
                      <input type="text" class="form-control" placeholder="Type">
                  </td>
                  <td>
                      <input type="text" class="form-control" placeholder="Placeholder">
                  </td>
                  <td>
                      <input type="text" class="form-control" placeholder="Id">
                  </td>
                  <td>
                      <input type="text" class="form-control" placeholder="Required">
                  </td>
                  <td>
                      <button type="button" class="btn btn-danger" (click)="deleteQuestion()"><i class="fa fa-trash"></i></button>
                      <button type="button" class="btn btn-success" (click)="addMoreQuestion()"> <i class="fa fa-plus"></i></button>
                     
                      
                  </td>
                </tr>
          </table>
       </div>
      </div>
    </div>
  </div>
      
    

   
  
</div>

